


body{
	background-color:black;
	overflow-x:hidden;
	overflow-y:hidden;
}

#layer{
	position: fixed;
	height: 100%;
	width: 100%;
	text-align: center;
}

#starslayer{
	position: fixed
}

#earthlayer{
	position: fixed;
	bottom: 0px;
	left: 50%; 
	margin: 0 0 -200px -480px; 
	width: 960px;
	height: 400px;
	background-image: url(../img/earth.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
}

#skyseer{
	position: fixed;
	bottom: 0px;
	left: 50%; 
	margin: 0 0 -50px -90px;
	height: 240px; 
	z-index: 100;
	cursor: pointer;
	&:hover{

	}
}


#rocket{
	position: fixed;
	bottom: 0px;
	left: 50%; 
	margin: 0 0 20px -150px;
	height: 130px; 
	z-index: 50;
	cursor: pointer;
}


#flashdiv{
	position: fixed;
	height: 100%;
	width: 100%;
	top:0px;
	bottom: 0px;
	z-index: 1000;
	left: 0px;
	right: 0px;
	background-color: white;
	display: none;
	opacity: 0;
}

.stars1{
	width: 10px;
	&:hover {
		width:20px;
		margin:-5px  0 0 -5px; 
				opacity:0.8;
	}
}


.stars2{
	width: 30px;

	&:hover {
		width:40px;
		margin:-5px  0 0 -5px; 
				opacity:0.8;
	}
}

.stars3{
	width: 50px;

	&:hover {
		width:60px;
		margin:-5px  0 0 -5px; 
				opacity:0.8;
	}
}

.stars4{
	width: 100px;

	&:hover {
		width:120px;
		margin:-10px  0 0 -10px; 
				opacity:0.8;
	}
}

.stars5{
	width: 150px;

	&:hover {
		opacity:0.8;
	}

}


.stars6{
	width: 200px;
	
	&:hover {
		opacity:0.8;
	}
}


.starContainer{
	position: fixed;
}



.starname{
	color: white;
	font-family: Impact;
	font-size: 20px;
	/*width: 50px;*/
	z-index: 500;
	width: 80px;
	margin: 0 auto 0 auto;
	position: relative;
	top:10px;
	cursor:pointer;
}

#nowdate{
	color: white;
	font-family: Impact;
	font-size: 18px;
	z-index: 500;
	text-align: center;
	position:relative;
	margin: 0 auto 0 auto;
	top:-30px
}

#nowplanet{
	color: white;
	font-family: Impact;
	font-size: 30px;
	z-index: 500;
	text-align: center;
	position:relative;
	margin: 0 auto 0 auto;
	top:-35px;
}

.startextdiv{
	position:relative;
	margin: 0 auto 0 auto;
	top:-120px;
	text-align: center;

}

#moon{
	z-index: 500;
	position: fixed;
	bottom: 0px;
	left: 50%; 
	margin: 0 0 +40px -400px;
}

#sun{
	z-index: 500;
	position: fixed;
	bottom: 0px;
	left: 50%; 
	margin: 0 0 +90px +320px;

}